* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

label {
    padding: 5px !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 80px;
}

.row {
    min-height: 50px;
}

.block {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px 5px 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.2);
}

.alert-title {
    width: 4%;
}

.hide, .invisible-true, .visible-false {
    display: none;
}

.show, .invisible-false, .visible-true {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.alert-modal {
    height: 6%;
    overflow: hidden;
}

#alert-modals * {
    cursor: pointer;
}

.response-type-container {
    padding-top: 10px;
}

.response-type-label {
    margin-top: 5px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.heading-container {
    margin-bottom: 20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.wrap-text {
    word-wrap: break-word;
}

.pagination li a {
    cursor: pointer;
}

.navbar-form a {
    cursor: pointer;
}

.filterbutton-container a {
    padding-top: 5px;
    cursor: pointer;
}

.shopping-cart {
    height:100%;
}
.shop-stage-list li{
   list-style-type: disc;
    color: hotpink;
    float: left;
    width: 200px;
}

.shop-stage-list li a{
  
    color: hotpink;
    cursor: pointer;
}

.current-stage{
    color: orangered !important;
}

.current-stage a{
    color: orangered !important;
}

.shopping-stages-container{
  
}

.navbar-header label{
    color: white;
}

.shipping-selector {
    list-style: none;
}

    .shipping-selector li {
        position: relative;
        overflow: hidden;
        float: left;
        width: 23.5%;
        margin-right: 2%;
        margin-bottom: 10px;
    }

        .shipping-selector li:nth-child(4n) {
            margin-right: 0;
        }

    .shipping-selector input[type="radio"] {
        position: absolute;
        top: -999px;
        left: -999px;
    }

        .shipping-selector input[type="radio"]:checked + label {
            background: #5AB0EE;
        }

    .shipping-selector label {
        display: block;
        padding: 30px 0;
        text-align: center;
        background: #2f3e55;
        border-radius: 5px;
        font-size: 1.5rem;
        line-height: 1;
        color: #fff;
        cursor: pointer;
    }
